vscode/
DataBase/
Backend/__pycache__/
Backend/TestCase/__pycache__/

Common/__pycache__/
.pytest_cache/
.DS_Store
WebUI/__pycache__/
WebUI/TestCase/__pycache__/
WebUI/TestCase/Input/__pycache__/
WebUI/TestCase/BackupSource/__pycache__/
WebUI/TestCase/Output/__pycache__/
allure-report/
allure-results/
html-result/
junit-result/
.gitignore
