Backend/__pycache__/
Backend/TestCase/__pycache__/
DataBase/__pycache__/
WebUI/__pycache__/
WebUI/TestCase/__pycache__/
Common/__pycache__/
.pytest_cache/
allure-results/
.DS_Store
WebUI/TestCase/Input/__pycache__/
